/* Definindo fonte padrão */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000; /* Preto */
    color: #FFFFFF; /* Branco */
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Melhora a legibilidade */
}

/* Estilizando o cabeçalho */
header {
    background-color: #4169E1; /* Azul Royal */
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #FFFFFF; /* Destaque ao separador */
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    font-size: 2em;
}

header p {
    color: #FFF;
    font-weight: 300;
    margin-top: 10px;
}

/* Menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    background-color: #000000;
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

main h2 {
    color: #4169E1; /* Azul Royal */
    margin-bottom: 20px;
}

main p {
    margin-bottom: 20px;
    color: #FFFFFF; /* Branco */
}

/* Tabela */
/* Estilos para a tabela */
table {
    border-collapse: collapse;
    margin: 20px auto;
}

/* Estilos para as células */
th, td {
    height: 50px;
    width: 50px;
    border: 1px solid #FFFFFF;
    padding: 0;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 24px; /* Tamanho da fonte para as células */
}

/* Estilo para o caption */
table caption {
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px; /* Tamanho da fonte específico para o caption */
}


/* Estilos para figuras e imagens */
figure {
    text-align: center;
    margin: 40px 0;
}

figure img {
    max-width: 100%;
}

figure iframe{
    width: 100%;
    aspect-ratio: 4/2;
}

/* Formulário */
form {
    margin-top: 40px;
}

/* Estilo para o fieldset */
fieldset {
    border: 2px solid #4169E1; /* Ajusta a cor da borda para combinar com o design */
    padding: 20px; /* Adiciona um espaçamento interno */
    background-color: #000000; /* Fundo preto para harmonizar */
    color: #FFFFFF; /* Texto branco */
}

/* Estilo para o textarea */
textarea {
    width: 95%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #FFFFFF; /* Ajusta a cor da borda */
    background-color: #000000; /* Fundo preto para combinar com o design */
    color: #FFFFFF; /* Texto branco */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

/* Estilo para o botão de envio */
input[type="submit"] {
    background-color: #4169E1;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Espaçamento extra para afastar do textarea */
}

input[type="submit"]:hover {
    background-color: #27408B;
}


/* Rodapé */
footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

hr {
    border: none;
    height: 1px;
    background-color: #FFFFFF;
    margin: 40px 0;
}

main a{
    color: #228B22;
    text-decoration: none;
}

main a:hover{
    text-decoration:underline;
}

/*________________________________tictactoy_________________________*/

.x:hover{
    background-color: #9D00FF;
}

.o:hover{
    background-color:#32CD32;
}

.acenderX{
    background-color: #9D00FF; /* Cor de destaque inicial */
    transition: background-color 0.5s; /* Transição suave */
}

.acenderY{
    background-color: #32CD32; /* Cor de destaque inicial */
    transition: background-color 0.5s; /* Transição suave */
}

@keyframes piscar{
    100%{
        opacity: 1;
    }0%{
        opacity: 0;
    }
}

.piscar{

    animation: piscar 0.8s infinite;
}